<div class="col-md-6">
  <h2> User Details</h2>
  <button class="btn btn-danger" (click)="addUser()"> Add User</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>emailAddress</th>
      <th>Full Name</th>
      <th>phonenumber</th>
      <th>city</th>
      <th>zipCode</th>
      <th>country</th>
     
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{customer.emailAddress}}</td>
      <td>{{customer.customerFullName}}</td>
      <td>{{customer.phoneNumber}}</td>
      <td>{{customer.city}}</td>
      <td>{{customer.zipCode}}</td>
      <td>{{customer.country}}</td>
    </tr>
    </tbody>
  </table>
</div>
